*{
    margin: 0;
    font-size: large;
}
header, footer{
    text-align: center;
    width: 100%;
    height: 25%;
    background-color: cyan;
}

section li, section form {
    padding: 10px;
    list-style: none;
}
.hidden { 
    display: none;
}
nav{
    width: 100%;
    height: 10%;
    float: left;
    background-color: lightgrey;
}
.routes, .login {
    width: 50%;
    float: left;
}
main{
    width: 100%;
    min-height: 65%;
    background-color: lightgray;
    text-align: center;
}
.postsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postsContainer section{
    text-align: left;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 80%;
    padding: 1%;
    transition: all 0.5s ease;
}
.postsContainer section:hover{
    background-color: cyan;
    cursor: pointer;
}
.post-item, .post-item-spoiler{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
h1{
    font-size: 300%;
}
h2{
    font-size: 200%;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.routes div, .login div{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.5s ease;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
}
.routes div:hover, .login div:hover{
    background-color: cyan;
    cursor: pointer;
}
article{
    text-align: left;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 80%;
    padding: 1%;
}
