*{
    margin: 0;
    font-size: large;
}
header, footer{
    text-align: center;
    width: 100%;
    height: 25%;
    background-color: cyan;
}
footer{
    padding: 1%;
}
section li, section form {
    padding: 10px;
    list-style: none;
}
nav{
    width: 100%;
    height: 10%;
    float: left;
    background-color: lightgrey;
}
.routes, .login {
    width: 50%;
    float: left;
}
main{
    width: 100%;
    min-height: 65%;
    background-color: lightgray;
    text-align: center;
}
.postsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postsContainer section{
    text-align: left;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 80%;
    padding: 1%;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.postsContainer section:hover{
    background-color: cyan;
}
.postItem, .postItemSpoiler{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}
h1{
    font-size: 300%;
}
h2{
    font-size: 200%;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.routes button, .login button, .sort, #sortBy{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background-color 0.5s ease;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    border: none;
}
.routes button:hover, .login button:hover, .sort:hover, #sortBy:hover{
    background-color: cyan;
    cursor: pointer;
}
article{
    text-align: left;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 80%;
    padding: 1%;
}
.editLink, .deleteBtn{
    float: right;
    margin: 5px;
}
.vote{
    display: flex;
    align-items: center;
    float: left;
    margin-left: 10px;
}
img{
    width: 24px;
    height: 24px;
}
.voteCount {
    font-weight: bold;
    margin: 0 10px;
}
.editDelete{
    float: right;
} 
.editDelete button{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.5s ease;
    background-color: lightgray;
    border-radius: 15px;
    display: inline-block;
    border: none;
}
.editDelete button:hover{
    background-color: white;
    cursor: pointer;
}
.newPostForm{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.newPostForm input, .newPostForm textarea{
    width: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.newPostForm button{
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    background-color: white;
    font-weight: bold;
    transition: all 0.5s ease;
}
.newPostForm button:hover{
    background-color: cyan;
    cursor: pointer;
}
.newPostForm textarea{
    height: 200px;
    resize: vertical;
}