<%- include('../partials/header') -%>

<main>
    <section>
    <h1>Stwórz konto</h1>
    <% if(typeof error !== 'undefined') { %><p style="color:red;"><%= error %></p><% } %>
    <form action="/createAccount" method="POST" class="newPostForm">
        <input type="text" name="login" id="login" required placeholder="Login"><br>
        <input type="password" name="password" id="password" required placeholder="Hasło"><br>
        <button type="submit">Stwórz konto</button>
    </form>
    </section>
</main>

<%- include('../partials/footer') -%>