<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Roddit</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
<body>
<header>
    <h1>Roddit</h1>
    <nav>
        <section class="routes">
            <a href="/"><button type="button">Strona główna</button></a>
            <% if(typeof user !== 'undefined') { %><a href="/new"><button type="button">Nowy post</button></a><% } %>
        </section>
        <section class="login">
            <% if(typeof user !== 'undefined') { %>
                Zalogowany jako: <%= user %> <% if(user === 'slawkolo') { %>(admin)<% } %> <a href="/logout"><button type="button">Wyloguj</button></a>
            <% } else { %>
                <a href="/logIn"><button type="button">Zaloguj</button></a>
                <a href="/createAccount"><button type="button">Załóż konto</button></a>
            <% } %>
        </section>
    </nav>
</header>